@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme("colors.blueNight");
  --background-start: theme("colors.orange");
  --background-end: theme("colors.orangePastel");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 21, 72, 92;
    --background-start-rgb: 243, 99, 55;
    --background-end-rgb: 251, 201, 152;
  }
}

/* TODO Mettre les variables a la place des couleurs en fixe */

body {
  background-color: #15485c;
  width: 100%;
}

.containerMain {
  /* From https://css.glass */
  background: linear-gradient(#f36337, #fbc998);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
